<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!--context-param是上下文参数(它属于整个web工程)-->
    <!--可配置多组-->
    <context-param>
        <param-name>username</param-name>
        <param-value>context</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>root</param-value>
    </context-param>


    <!--servlet标签给服务器Tomcat配置Servlet程序-->
<!--    <servlet>-->
<!--        &lt;!&ndash;servlet-name标签给Servlet程序起一个别名（一般是类名）&ndash;&gt;-->
<!--        <servlet-name>HelloServlet</servlet-name>-->
<!--        &lt;!&ndash;servlet-class是servlet程序的全类名&ndash;&gt;-->
<!--        <servlet-class>com.example.test1.HelloServlet</servlet-class>-->
<!--        <init-param>-->
<!--            <param-name>username</param-name>-->
<!--            <param-value>root</param-value>-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>url</param-name>-->
<!--            <param-value>jdbc:mysql://localhost:3306/test</param-value>-->
<!--        </init-param>-->
<!--    </servlet>-->
<!--    &lt;!&ndash;servlet-mapping标签给servlet程序配置一个访问地址&ndash;&gt;-->
<!--    <servlet-mapping>-->
<!--        &lt;!&ndash;servlet-name标签的作用是告诉服务器，我当前配置的地址给那个servlet程序使用&ndash;&gt;-->
<!--        <servlet-name>HelloServlet</servlet-name>-->
<!--        &lt;!&ndash;url-pattern标签配置访问地址-->
<!--            /斜杠在服务器解析的时候，表示地址为：http://ip:port/工程路径-->
<!--            /Hello 表示地址为: http://ip:port/工程路径/hello&ndash;&gt;-->
<!--        <url-pattern>/hello</url-pattern>-->
<!--    </servlet-mapping>-->


    <!--HelloServlet2配置-->
    <servlet>

        <servlet-name>HelloServlet2</servlet-name>
        <servlet-class>com.example.test1.HelloServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloServlet3</servlet-name>
        <servlet-class>com.example.test1.HelloServlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>com.example.test1.Servlet1</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>HelloServlet2</servlet-name>
        <url-pattern>/hello2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloServlet3</servlet-name>
        <url-pattern>/hello3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/Servlet1</url-pattern>
    </servlet-mapping>

</web-app>
















